In [22]:
import pandas as pd
import datetime
import numpy as np

In [9]:
START_YEAR = 2009
END_YEAR = datetime.datetime.now().year - 1
MAX_SINGLES = 750
MAX_DOUBLES = 250

In [24]:
data = []
for year in range(START_YEAR, END_YEAR + 1):
    singles = pd.read_csv(f"../data/players/clean/singles/{year}.gz")

    band_prize_money = 0
    band_prize_money_array = []
    band_matches_played = 0
    band_matches_played_array = []
    band_ranking_array = []

    for rank in range(1, MAX_SINGLES + 1):
        player = singles.loc[singles["ranking"] == rank]
        if not player.empty:
            band_prize_money += player["prize_money"].iloc[0]
            band_prize_money_array.append(player["prize_money"].iloc[0])
            band_matches_played += player["wins"].iloc[0] + player["losses"].iloc[0]
            band_matches_played_array.append(player["wins"].iloc[0] + player["losses"].iloc[0])
            band_ranking_array.append(rank)

        if rank % 50 == 0:
            matches_correlation = np.corrcoef(band_prize_money_array, band_matches_played_array)[0, 1] ** 2
            ranking_correlation = np.corrcoef(band_prize_money_array, band_ranking_array)[1, 0] ** 2

            data.append({
                "year": year,
                "type": "singles",
                "ranking_band": f"{rank - 49} - {rank}",
                "prize_money": band_prize_money,
                "matches_played": band_matches_played,
                "matches_correlation": matches_correlation,
                "ranking_correlation": ranking_correlation
            })

            band_prize_money = 0
            band_prize_money_array = []
            band_matches_played = 0
            band_matches_played_array = []
            band_ranking_array = []


    doubles = pd.read_csv(f"../data/players/clean/doubles/{year}.gz")

    band_prize_money = 0
    band_prize_money_array = []
    band_matches_played = 0
    band_matches_played_array = []
    band_ranking_array = []

    for rank in range(1, MAX_DOUBLES + 1):
        player = doubles.loc[doubles["ranking"] == rank]
        if not player.empty:
            band_prize_money += player["prize_money"].iloc[0]
            band_prize_money_array.append(player["prize_money"].iloc[0])
            band_matches_played += player["wins"].iloc[0] + player["losses"].iloc[0]
            band_matches_played_array.append(player["wins"].iloc[0] + player["losses"].iloc[0])
            band_ranking_array.append(rank)

        if rank % 50 == 0:
            matches_correlation = np.corrcoef(band_prize_money_array, band_matches_played_array)[0, 1] ** 2
            ranking_correlation = np.corrcoef(band_prize_money_array, band_ranking_array)[1, 0] ** 2

            data.append({
                "year": year,
                "type": "doubles",
                "ranking_band": f"{rank - 49} - {rank}",
                "prize_money": band_prize_money,
                "matches_played": band_matches_played,
                "matches_correlation": matches_correlation,
                "ranking_correlation": ranking_correlation
            })

            band_prize_money = 0
            band_prize_money_array = []
            band_matches_played = 0
            band_matches_played_array = []
            band_ranking_array = []

res = pd.DataFrame(data)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2853: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2853: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2853: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:518: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis, **keepdims_kw)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/core/_methods.py:182: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2845: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2704: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/lib/function_base.py:2704: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

In [25]:
res

,year,type,ranking_band,prize_money,matches_played,matches_correlation,ranking_correlation
0,2009,singles,1 - 50,8.046247e+07,2803,0.404073,0.530650
1,2009,singles,51 - 100,1.737875e+07,1393,0.894987,0.153132
2,2009,singles,101 - 150,1.010902e+07,712,0.944274,0.229188
3,2009,singles,151 - 200,4.777006e+06,214,0.877559,0.068774
4,2009,singles,201 - 250,3.025002e+06,113,0.839129,0.013723
...,...,...,...,...,...,...,...
275,2022,doubles,1 - 50,2.122704e+07,2585,0.130054,0.644246
276,2022,doubles,51 - 100,4.994593e+06,1198,0.663212,0.127477
277,2022,doubles,101 - 150,2.042630e+06,369,0.764743,0.082734
278,2022,doubles,151 - 200,1.512926e+06,310,0.885984,0.005650
279,2022,doubles,201 - 250,1.101829e+06,214,0.862941,0.001741